<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sorter</title>
  <link rel="icon" href="sorter.png" type="image/x-icon">
  <!-- Our Styles -->
  <link rel="stylesheet" href="css/main.css">
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/head.html"></insert-html>
</head>

<body>
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/menu.html"></insert-html>
  <main class="container" id="app">
    <h1>Sorter</h1>
    <!-- Select Thing to Sort -->
    <div class="input-field col s12">
      <select v-model="sorting">
        <option value="" disabled selected>What're we sorting?</option>
        <option v-for="opt in sortable" :value="opt" v-text="opt"></option>
      </select>
    </div>
    <!-- Sorters -->
    <!-- Numbers -->
    <div v-if="sorting == 'Numbers'">
      <div class="input-field col s12">
        <textarea class="materialize-textarea" v-model="Numbers.text"></textarea>
        <label>Enter text here with numbers seperated by literally anything!</label>
      </div>
      <p v-if="!sorted_numbers">The numbers will show up sorted here</p>
      <p v-if="sorted_numbers" v-text="sorted_numbers"></p>
    </div>
    <!-- Images -->
    <div v-if="sorting == 'Images'">
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Images</span>
          <input type="file" multiple accept="image/*" @change="image_upload">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload the images here">
        </div>
      </div>
      <div class="row" v-if="Images.is_sorting">
        <h4>Which is better?</h4>
        <div class="card hoverable col s6 m5 xl4">
          <a href="#!" class="card-image" @click="Images.left.ret()">
            <img :src="Images.left.url"/>
          </a>
        </div>
        <div class="card hoverable col s6 m5 xl4 right">
          <a href="#!" class="card-image" @click="Images.right.ret()">
            <img :src="Images.right.url"/>
          </a>
        </div>
      </div>
      <div class="row" v-if="Images.sorted_urls.length > 0">
        <h4>Here they are sorted best to worst</h4>
        <div v-for="url in Images.sorted_urls" class="card col s12 m6 xl4">
          <div class="card-image">
            <img :src="url">
          </div>
        </div>
      </div>
    </div>
    <!-- Text -->
    <div v-if="sorting == 'Text'">
      <div class="row">
        <div class="input-field col s12 m10">
          <textarea class="materialize-textarea" v-model="Text.text"></textarea>
          <label>Enter your text here! (Seperate each piece of text with \\)</label>
        </div>
        <div class="input-field col s2 right">
          <button class="btn right" @click="text_sort()">Sort</button>
        </div>
      </div>
      <div class="row" v-if="Text.is_sorting">
        <h4>Which is better?</h4>
        <p v-text="Text.left.text" @click="Text.left.ret()" class="flow-text col s6 hoverable" style="cursor: pointer;"></p>
        <p v-text="Text.right.text" @click="Text.right.ret()" class="flow-text col s6 hoverable right" style="cursor: pointer;"></p>
      </div>
      <div v-if="Text.sorted_text.length > 0">
        <h4>Here they are sorted best to worst</h4>
        <p class="flow-text hoverable" v-text="text" v-for="text in Text.sorted_text"></p>
      </div>
    </div>
    <!-- Websites -->
    <div v-if="sorting == 'Websites'">
      <div class="row">
        <div class="input-field col s12 m10">
          <textarea class="materialize-textarea" v-model="Websites.links"></textarea>
          <label>Enter the links here! Put each on a seperate line</label>
        </div>
        <div class="input-field col s2 right">
          <button class="btn right" @click="website_sort()">Sort</button>
        </div>
      </div>
      <div class="row" v-if="Websites.is_sorting">
        <h4>Which is better?</h4>
        <p class="red-text lighten-2">Note that many sites have security policies that prevent them from being displayed
          in IFrames and thus be displayed below</p>
        <div>
          <button class="btn blue" @click="Websites.left.ret()">The left one</button>
          <button class="btn red right" @click="Websites.right.ret()">The right one</button>
        </div>
        <p>
          <span v-text="Websites.left.url"></span>
          <span v-text="Websites.right.url" class="right"></span>
        </p>
        <iframe :src="Websites.left.url" style="width: 49%; height: 100vh;"></iframe>
        <iframe :src="Websites.right.url" class="right" style="width: 49%; height: 100vh;"></iframe>
      </div>
      <div>
        <h4>Here they are sorted best to worst</h4>
        <a v-for="site in Websites.sorted_sites" :href="site" v-text="site" class="flow-text hoverable" style="display: block;"></a>
      </div>
    </div>
    <!-- Add more sortables here -->
  </main>
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/foot.html"></insert-html>
  <!-- HTML Inserts -->
  <script src="https://swag31415.github.io/Portfolio/js/html_inserts.js"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
  <!-- Our Scripts -->
  <script src="js/main.js"></script>
</body>

</html>